.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
    text-align: center;
}

.landing-page-content {
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

.get-started-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.get-started-button:hover {
    background-color: #0056b3;
}
